{% extends "base.html" %}

{% block title %}Expense Details{% endblock %}

{% block content %}
<h1>Expense Details</h1>
<table class="table table-striped">
    <tr>
        <th>Shop</th>
        <td>{{ expense.shop }}</td>
    </tr>
    <tr>
        <th>Date</th>
        <td>{{ expense.date }}</td>
    </tr>
    <tr>
        <th>Amount</th>
        <td>{{ expense.amount }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ expense.description }}</td>
    </tr>
</table>
<a href="{% url 'expense-update' expense.id %}" class="btn btn-primary">Edit</a>
<a href="{% url 'expense-delete' expense.id %}" class="btn btn-danger">Delete</a>
{% endblock %}
