{% extends "base.html" %}

{% block title %}Sale Details{% endblock %}

{% block content %}
<h1>Sale Details</h1>
<table class="table table-striped">
    <tr>
        <th>Shop</th>
        <td>{{ sale.shop }}</td>
    </tr>
    <tr>
        <th>Date</th>
        <td>{{ sale.date }}</td>
    </tr>
    <tr>
        <th>Amount</th>
        <td>{{ sale.amount }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ sale.description }}</td>
    </tr>
    <tr>
        <th>Image</th>
        <td>
            {% if sale.image %}
                <img src="{{ sale.image.url }}" alt="Sale Image" class="img-thumbnail" width="200">
            {% endif %}
        </td>
    </tr>
</table>
<a href="{% url 'sale-update' sale.id %}" class="btn btn-primary">Edit</a>
<a href="{% url 'sale-delete' sale.id %}" class="btn btn-danger">Delete</a>
{% endblock %}
